In [1]:
#Q1
#1
name=input('enter a name:')

enter a name:farsana

In [2]:
print(name)

farsana

In [77]:
#2
age=int(input('enter age:'))

enter age: 24

In [78]:
print(age)

24

In [75]:
#3
x=2
y=3

In [6]:
addition=x+y
addition

5

In [8]:
subtraction=x-y
subtraction

-1

In [9]:
multiplication=x*y
multiplication

6

In [10]:
division=x/y
division

0.6666666666666666

In [76]:
#4
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

In [16]:
#Q2
#1
first="farsana"
last=" E"
full_name=first+last

In [17]:
full_name

'farsana E'

In [61]:
#2
name="farsana"
print(name[0:3])

far

In [62]:
#3
print(name.upper())
print(name.lower())

FARSANA
farsana

In [33]:
for value in i:
    if value.isupper():
        print(value)
    else:
        print(value)

F
A
R
s
a
n
A

In [63]:
#4
i="farsana"
count=0
for value in i:
    if value=='a':
        count=count+1
print(i,count)
print(i.count('a'))

farsana 3
3

In [66]:
#Q3
#1
list1=[]
i=int(input('value'))

value 1

In [67]:
while i <=5:
    list1.append(i)
    i=int(input('value'))
print(list1)

value 2
value 3
value 4
value 5
value 6

[1, 2, 3, 4, 5]

In [68]:
list1

[1, 2, 3, 4, 5]

In [70]:
#2
print(list1[1:4:2])

[2, 4]

In [71]:
#3
tuple1=('anu',2,True,0.5)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('anu', 2, True, 0.5)

In [72]:
#4
tuple2=1,2,3,'anu',False
list2=[3,4,5,6]
print(len(tuple2))
print(max(list2))

5
6

In [73]:
#Q4
#1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [74]:
#2
i=1
while i<=20:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [5]:
#Q5
#1
i=int(input('enter value'))

enter value 0

In [6]:
if i>0:
    print('positive')
elif i<0:
    print('negative')
else:
    print('zero')

zero

In [7]:
#2
i=int(input('enter data:'))

enter data: 15

In [8]:
if i%3==0 and i%5==0:
    print('num divisible by both 3 and 5')
else:
    print('num not divisible by both 3 and 5')

num divisible by both 3 and 5

In [41]:
#section2
#Q1
#1
def greet(name):
    print(f'hello,{name},welcome')
greet('farsana')

hello,farsana,welcome

In [40]:
#2
def greet(name):
    print(f"Hello, {name}!")
greet('anu')

Hello, anu!

In [48]:
#Q2
#1
def anu(a,b):
    return a*b
product= anu(2,3)
print(product)

6

In [59]:
#2
list1=[1,2,3]
def anu(n):
    return n*10
anu(n)

20

In [73]:
#Q3
#1
def calculated_area(length,width=5):
    return length*width
area=calculated_area(5,5)   
print(area)

25

In [72]:
#2
def calculated_area(length,width=5):
    return length*width
area1=calculated_area(10,8)   
print(area1)
area2=calculated_area(10)
print(area2)

80

In [69]:
#Q4
#1
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result= factorial(2)
print(result)

2

In [70]:
#2
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result= factorial(5)
print(result)

120

In [74]:
#Q5
#1
square=lambda x:x**2
result=square(5)
print(result)

25

In [76]:
#2
add=lambda x,y: x+y
result=add(2,3)
print(result)

5

In [2]:
#sectionc
#Q1
#1

2

120

In [36]:
#Q5
#1
def __init__(self,name,age):
    self.name=name
    self.age=age
def introduce(self):
    print(f'hello,my name is {self.name}and i am {self.age}years old')

In [34]:
#2
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        print(f'hello,my name is {self.name},and am {self.age}years old')
person=person('farsana',24)
person.introduce()

hello,my name is farsana,and am 24years old

In [46]:
#Q2
#1
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        print(f'hello,my name is {self.name},and am {self.age}years old')
class student(person):
    def __init__(self,name,age,student_id):
        super().__init__(name,age)
        self.student_id=student_id
    def introduce(self):
        super().introduce()
        print(f'my student ID is{self.student_id}')
student=student('farsana',24,'S12345')
student.introduce()

hello,my name is farsana,and am 24years old
my student ID isS12345

In [52]:
#2
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        print(f'hello,my name is {self.name},and am {self.age}years old')
class student(person):
    def __init__(self,name,age,student_id,grade):
        super().__init__(name,age)
        self.student_id=student_id
        self.grade=grade
    def introduce(self):
        super().introduce()
        print(f'my student ID is{self.student_id}')
    def show_grade(self):
        print(f"My grade is {self.grade}.")

In [53]:
#3
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        print(f'hello,my name is {self.name},and am {self.age}years old')
class student(person):
    def __init__(self,name,age,student_id,grade):
        super().__init__(name,age)
        self.student_id=student_id
        self.grade=grade
    def introduce(self):
        super().introduce()
        print(f'my student ID is{self.student_id}')
    def show_grade(self):
        print(f"My grade is {self.grade}.")
student = student("farsana", 20, "S12345", "A")
student.introduce()
student.show_grade()

hello,my name is farsana,and am 20years old
my student ID isS12345
My grade is A.

In [56]:
#Q3
#1
class animal:
    def __init__(self,name):
        self.name=name
    def speak(self):
        print(f"{self.name} makes a sound.")
animal = animal("Dog")
animal.speak()

Dog makes a sound.

In [59]:
#2
class Animal:
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        print(f"{self.name} makes a sound.")
class Dog(Animal):
    def speak(self):
        print(f"{self.name} barks!")

class Cat(Animal):
    def speak(self):
        print(f"{self.name} meows!")

In [58]:
#3
class Animal:
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        print(f"{self.name} makes a sound.")
class Dog(Animal):
    def speak(self):
        print(f"{self.name} barks!")

class Cat(Animal):
    def speak(self):
        print(f"{self.name} meows!")
        
dog = Dog("Buddy")
dog.speak() 

cat = Cat("Whiskers")
cat.speak()

Buddy barks!
Whiskers meows!