In [4]:
import pandas as pd

In [15]:
superstore=pd.read_excel(r"C:\Users\USER\Downloads\Sample - Superstore.xls",sheet_name="Orders")

In [17]:
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2416,CA-2015-146087,2015-07-06,2015-07-11,Standard Class,PP-18955,Paul Prost,Home Office,United States,Holyoke,...,1040,East,FUR-BO-10002824,Furniture,Bookcases,Bush Mission Pointe Library,301.96,2,0.0,60.3920
1,5769,CA-2015-154900,2015-02-25,2015-03-01,Standard Class,SS-20875,Sung Shariari,Consumer,United States,Leominster,...,1453,East,OFF-LA-10001641,Office Supplies,Labels,Avery 518,3.15,1,0.0,1.5120
2,5770,CA-2015-154900,2015-02-25,2015-03-01,Standard Class,SS-20875,Sung Shariari,Consumer,United States,Leominster,...,1453,East,OFF-PA-10002377,Office Supplies,Paper,Adams Telephone Message Book W/Dividers/Space ...,22.72,4,0.0,10.2240
3,2029,CA-2015-117961,2015-11-26,2015-11-30,Standard Class,GP-14740,Guy Phonely,Corporate,United States,Leominster,...,1453,East,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",14.73,3,0.0,6.9231
4,2030,CA-2015-117961,2015-11-26,2015-11-30,Standard Class,GP-14740,Guy Phonely,Corporate,United States,Leominster,...,1453,East,OFF-ST-10001172,Office Supplies,Storage,"Tennsco Lockers, Sand",104.90,5,0.0,25.1760

In [18]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [19]:
superstore.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [24]:
superstore['Ship Mode'].count()

9994

In [26]:
superstore['Sales'].min()

0.44399999999999995

In [27]:
superstore['Sales'].max()

22638.48

In [40]:
superstore.value_counts('Ship Mode')

Ship Mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

In [37]:
superstore.value_counts('Segment')

Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: count, dtype: int64

In [39]:
superstore.value_counts('Category')

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [45]:
superstore.value_counts('State').head()

State
California      2001
New York        1128
Texas            985
Pennsylvania     587
Washington       506
Name: count, dtype: int64

In [44]:
superstore.value_counts('City')

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Redwood City       1
Holyoke            1
Redding            1
Iowa City          1
Aberdeen           1
Name: count, Length: 531, dtype: int64

In [50]:
superstore[superstore['Ship Mode']=='First Class']['Sales'].sum()

351428.4229

In [72]:
superstore.groupby('Ship Mode')['Sales'].sum()

Ship Mode
First Class       3.514284e+05
Same Day          1.283631e+05
Second Class      4.591936e+05
Standard Class    1.358216e+06
Name: Sales, dtype: float64

In [73]:
superstore.groupby('Ship Mode')['Profit'].sum()

Ship Mode
First Class        48969.8399
Same Day           15891.7589
Second Class       57446.6354
Standard Class    164088.7875
Name: Profit, dtype: float64

In [74]:
superstore.groupby('Segment')['Sales'].sum()

Segment
Consumer       1.161401e+06
Corporate      7.061464e+05
Home Office    4.296531e+05
Name: Sales, dtype: float64

In [75]:
superstore.groupby('Segment')['Profit'].sum()

Segment
Consumer       134119.2092
Corporate       91979.1340
Home Office     60298.6785
Name: Profit, dtype: float64

In [77]:
superstore.groupby('State')['Sales'].sum().head()

State
Alabama        19510.6400
Arizona        35282.0010
Arkansas       11678.1300
California    457687.6315
Colorado       32108.1180
Name: Sales, dtype: float64

In [78]:
superstore.groupby('State')['Profit'].sum().head()

State
Alabama        5786.8253
Arizona       -3427.9246
Arkansas       4008.6871
California    76381.3871
Colorado      -6527.8579
Name: Profit, dtype: float64

In [79]:
superstore.value_counts('Region')

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [80]:
superstore.groupby('Region')['Sales'].sum()

Region
Central    501239.8908
East       678781.2400
South      391721.9050
West       725457.8245
Name: Sales, dtype: float64

In [81]:
superstore.groupby('Region')['Profit'].sum()

Region
Central     39706.3625
East        91522.7800
South       46749.4303
West       108418.4489
Name: Profit, dtype: float64

In [83]:
superstore.groupby('Category')['Sales'].sum()

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [84]:
superstore.groupby('Category')['Profit'].sum()

Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64